<app-banner></app-banner>
<div class="container">
    <div class="left">
        <img src="../../assets/img/Geopluslogo.png" alt="Logo GeoPlus">
    </div>
    <div class="right">
        <div class="sub-right">
            <div>
                <form action="" class="formulario">
                    <input type="email" placeholder="CORREO O USUARIO" class="correo ipt">
                    <input type="password" placeholder="CONTRASEÑA" class="contraseña ipt">
                    <button class="login ipt" >INICIAR SESION</button>
                </form>
                <p class="OSC ipt"><a href="">¿Olvido su contraseña?</a> </p>
                <hr>
            </div>
            <div>
                <button class="sign-up ipt"><b></b> REGISTRARSE</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>