* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
  }
  
  html, body {
    
    background: white;
    margin: 20px;
    color: #3e4144;
    -webkit-font-smoothing: antialiased;
  }
  
  
  dd {
    font-weight: bold;
  }
  
  button {
    background-color: black;
    border-radius: 6px;
    border: 0px;
    color: white;
    cursor: pointer;
    margin: 5px 5px;
    padding: 8px 15px;
  }
  
  button:hover {
    background-color: #3e4144;
  }
  
  button:focus{ 
    outline: none;
  }
  
  .p-1 {
    padding: 1px;
  }

  .row{
    display: flex;
  }

  .col{
    flex-grow: 1;
    margin: 5px 10px;
  }

  input {
    display: block;
    margin: 10px 0px;
    border: 0;
    border-bottom: 1px solid rgb(126, 126, 126);
    height: 30px;
    width: 175px;
  }
